body {
	background-color: white;
	color:black;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

header .intro-text .name {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

.nav .navbar-nav .navbar-right {
}

.jumbotron {
	background-image: url("../img/background.jpg");
	background-size: cover;
	color:white;
}